# Ensure these 2 variables are exported in your shell
# Needed to install shared modules (if any) from private repos
export GOPRIVATE=
export GITHUB_TOKEN=

APP_PORT=8008
APP_ENV=development

EMAIL_SERVER=
EMAIL_PORT=587
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=test@gmail.com
